<!DOCTYPE html>
<html>
<head> 
    <meta charset="UTF-8">
    <title>Welcome to angularApp</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body ng-app="myCart">
<div  ng-controller="myCtrl">
  <table>
    <tr>
        <th>Product(s)</th>
        <th>Quantity</th>
        <th>Price(₹)</th>
        <th>Action</th>
    </tr>
    <tr ng-repeat="x in products">
        <td>
        {{x.name}}
        </td>
        <td>
        {{x.quantity}}
        </td>
        <td> 
        {{x.price}}
        </td>
        <td>
        <Button id="delete" ng-click="removeItem($index)">Remove</button>
        </td>
    </tr>
    
  </table>
  <div id="total">Total :- {{totalAmount}}</div>
  <p>{{errortext}}</p>
  <input type="text" placeholder="Eneter product Name" ng-model="Pname"><br/>
  <input type="Number" placeholder="How many" ng-model="Pqty" min="1"><br/>
  <input type="text" placeholder="Eneter product price" ng-model="Pprice"><br/>
  <button ng-click="addItem(Pname,Pprice,Pqty)">Add</button><br/>
  <button id="checkout" ng-click="checkout()">checkout</button>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="app.js"> </script>

</body>
</html>
