#delete{ 
color:red;
}
#checkout{
    color:Blue; 
}
#total{
    
}

table, th, td {
   border: 1px solid black;
}
button.btnsize{
    height:40px;
    width:100px;
}
.resizedTextbox{
    width: 200px;
    height: 20px;
}

