#delete{ 
color:red;
}

#total{
    color:green;
}

table, th, td {
   border: 1px solid black;
}
button.btnsize{
    height:40px;
    width:100px;
    color:Blue; 
}
.resizedTextbox{
    width: 200px;
    height: 20px;
}

p#error{
	color: red;
	
}
